@media (max-width:576px){
	

.row {margin:0;}
.row>*{
	width:100%;
}
.d-block{
	
	display:block!important;
}
.nav-but {
	    
	    font-size:8px;
	    padding: 8px 20px;
        margin-left:4px;
		margin-top:11px;
		border-radius: 5px
}
.banaer-sec {    
             text-align:center;
			   
			 }
.banaer-sec  h1{font-size:27px;
                padding-top:58px;}
.banaer-sec  h4{font-size:16px;
                padding-top:20px;
}

.nav-but2 {
	margin-top: 14px;
}
.about-box {
    
    margin-top:60px;
}
.nastrom-2 {
    min-height: 100px;
}
.serv p {
    font-size: 12px;
}
.serv h2 a {
    font-size: 20px;
}

.button6 {
    margin-top: 70px;
    margin-left: 45px;
}
.presento-3 {
    margin-left: 15px;
}
.presento-button-2 {
    margin-left: 183px;
}
.presento-button input {  
    margin-left: 5px;
    width: 230px;
}
.persento {
    margin-left:-2px;
}
.footer-link {
    margin-left:18px;
}
.about{
	text-align:center;
}
.banaer	{
	text-align:center;
}
.d-xs-none {
	display:none!important;
}

.nastrom-2 i {
   
    padding-left:5px;
    
    margin-top: 8px;
}

.nastrom-2 {
    min-height:60%;
}
.nastrom-first {
    height: 60px;	
}
.nastrom-first i {
	padding-left:5px;
    margin-top: 11px;
}
.direction {
	flex-direction:column-reverse;
}
.ad h1 {
    font-size: 21px;
}
.amount {
    margin-top: 135px;
}
.col-2 {width:16.66%;
           padding: 15px;
          }	  
		   
		   	 
.col-3 {width:25%;
           padding: 15px;
          }	 
		  
		  	 
.col-4 {width:33.33%;
           padding: 15px;
          }	
		  
		  	 
.col-5 {width:41.66%;
           padding: 15px;}
        
		  
		  
		  	 
.col-6 {width:50%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-7 {width:58.33%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-8 {width:66.66%;
           padding: 15px;
          }	
		  
		  	 
.col-9 {width:75%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-10 {width:83.33%;
           padding: 15px;
          }	
		  
		  	 
.col-11 {width:91.66%;
           padding: 15px;
          }	
		  
		 	 
.col-12 {width:100%;
           padding:15px;
          }	 
	

}

/*---------------------- (min-width:768px start --------------------*/


@media (min-width:768px){

 
 
.col-ipad-1 {width:8.33%;
           padding: 15px;
          }
		  
			 
.col-ipad-2 {width:16.66%;
           padding: 15px;
          }	  
		   
		   	 
.col-ipad-3 {width:25%;
           padding: 15px;
          }	 
		  
		  	 
.col-ipad-4 {width:33.33%;
           padding: 15px;
          }	
		  
		  	 
.col-ipad-5 {width:41.66%;
           padding: 15px;}
        
		  
		  
		  	 
.col-ipad-6 {width:50%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-ipad-7 {width:58.33%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-ipad-8 {width:66.66%;
           padding: 15px;
          }	
		  
		  	 
.col-ipad-9 {width:75%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-ipad-10 {width:83.33%;
           padding: 15px;
          }	
		  
		  	 
.col-ipad-11 {width:91.66%;
           padding: 15px;
          }	
		  
		 	 
.col-ipad-12 {width:100%;
           padding:15px;
          }	

.nav-but {
	padding: 5px 16px;
	/*--
    margin-left:340px;
	--*/
	margin-top:7px;
    border-radius: 5px          	
}
.nav .nav-bar> li a.nav-list {
	padding-left:5px;
}

.banaer-sec  h1{

	font-size:38px;
    padding-top:58px;}
.banaer-sec  h4{
	font-size:20px;
    padding-top:20px;
   
}
.nav-but1 {
	
	margin-top: 14px;
}
.about{
	text-align:center;
}

.nastrom-2 i {
	margin-top: 22px;
    padding-left:40px;
}

.nastrom i {
	margin-top: 22px;
    padding-left: 50px;
}
.nastrom {
	height:85px;
}



.price p {
    font-size: 15px;
}



.qustion-layout h4 i {
    right: 45px;
}
.team p {
    padding-bottom: 1px;

}

.presento-3 {
    margin-left: 8px;
}
.presento-button input {
    margin-left: 6px;
} 
.presento-button-2 {
    margin-left: 219px;
}
.footer-link {
    margin-left: 74px;
}

.pad-none {
	display:none;
}

 .d-xs-none{
	 display:none !important;
 }
.pad-none{
	
	display:block!important;
}

.nav-but{
 justify-content:right;
}

.nastrom-first i {
    padding-left: 40px;
    font-size: 54px;
}

.nastrom-2 i {
    font-size:50px;
}
.direction {
	flex-direction:column-reverse !important;
}
.d-none {
    display: block!important;
}

.button6 {
	margin-left: 37%;
}














}

/*---------------------- (min-width:768px end  --------------------*/

/*---------------------- (min-width:992px start  --------------------*/

@media (min-width:992px){
 
 
.col-desk-1 {width:8.33%;
           padding: 15px;
          }
		  
			 
.col-desk-2 {width:16.66%;
           padding: 15px;
          }	  
		   
		   	 
.col-desk-3 {width:25%;
           padding: 15px;
          }	 
		  
		  	 
.col-desk-4 {width:33.33%;
           padding: 15px;
          }	
		  
		  	 
.col-desk-5 {width:41.66%;
           padding: 15px;}
        
		  
		  
		  	 
.col-desk-6 {width:50%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-desk-7 {width:58.33%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-desk-8 {width:66.66%;
           padding: 15px;
          }	
		  
		  	 
.col-desk-9 {width:75%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-desk-10 {width:83.33%;
           padding: 15px;
          }	
		  
		  	 
.col-desk-11 {width:91.66%;
           padding: 15px;
          }	
		  
		 	 
.col-desk-12 {width:100%;
           padding:15px;
          }



.d-none {
	display:none !important;
}
.d-xs-none {
	display:none !important;
}

.d-xs-none{
	display:block !important;
}
.nav .nav-bar {
    margin-top: -74px;
}

.nav .nav-bar {
    margin-top:unset!important;
}
.direction {
	flex-direction:unset!important;
}

}














/*---------------------- (min-width:1200px start --------------------*/


@media (min-width:1200px){
	
	.container{width:1170px;
           padding-right: 15px;
		   padding-left:15px;
           margin:0 auto;}
		   
		   
 	 
.col-lg-1 {width:8.33%;
           padding: 15px;
          }
		  
			 
.col-lg-2 {width:16.66%;
           padding: 15px;
          }	  
		   
		   	 
.col-lg-3 {width:25%;
           padding: 15px;
          }	 
		  
		  	 
.col-lg-4 {width:33.33%;
           padding: 15px;
          }	
		  
		  	 
.col-lg-5 {width:41.66%;
           padding: 15px;}
        
		  
		  
		  	 
.col-lg-6 {width:50%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-lg-7 {width:58.33%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-lg-8 {width:66.66%;
           padding: 15px;
          }	
		  
		  	 
.col-lg-9 {width:75%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-lg-10 {width:83.33%;
           padding: 15px;
          }	
		  
		  	 
.col-lg-11 {width:91.66%;
           padding: 15px;
          }	
		  
		 	 
.col-lg-12 {width:100%;
           padding:15px;
          }	 
.d-xs-none {display:block;
}
.pad-none {
	display:block ;
}
.direction {
	flex-direction:unset!important;
}

.d-none {
	display:none !important;
}








}