* {
	padding:0;
   margin:0px;
   box-sizing:border-box;
   }
   
html{
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
	}
	
 .container{
	width:100%;
	margin: 0 auto;
	
}
.text-align {
	text-align: center !important;
}

.row      {
	       
	       display:flex;
           flex-wrap:wrap;
		    padding-right: 15px;
		   padding-left:15px;
		   width: 100%;
}		   
		   
.d-none {
	display:none !important;
}
 
		  
	/*--------------------- align iteam------*/
		  
.align-items-center {
                align-items:center important; 				
}		  
.align-items-start {
                align-items:start important; 				
}		  		  
.align-items-end {
                align-items:end important;				
}		  		  
.align-items-baseline {
                align-items:baseline important;			
 }
 .align-items-stretch {
                align-items:stretch important;
 				
}		  
                                            /*-------------------------- header start------------------------*/
		  
		  
                                          
		  
  
		    
.header  {
	      width:100%;
          background-color: #fff;
          position:fixed;
		  z-index:2;
		  
         
          }		  	  
.header-content	a{	
                text-decoration:none;
                color:#000;
                font-size:30px;
                display:inline-block;
                font-weight:700;
				
}	

.header-content a span{
	            color:red;
                      }	
					  
.nav .nav-bar {
                text-align:right;
}		
			  
.nav .nav-bar >li{
                display:inline-block;
}		
		 
	
.nav .nav-bar> li a.nav-list{ 
	            display:block;
                text-decoration:none;
                color:#000;
                padding-left:10px;
                padding-right:10px;
                padding-bottom:10px;
                padding-top:10px;
				transition:all 0.3s ease;
			    font:weight:300px;
}
	
.nav-bar >li a.nav-list:hover{color:red;
}	
.nav2        { text-decoration:none;
	            color:red;
}                        

.nav-but {
	            text-decoration:none;
                display:inline-block;
		        text-align:center;
				padding:8px 18px;
				background-color:#e03a3c;
				border: solid 1px #e03a3c;
				color:#fff;
				border-radius:10px;
				font-size:16px;				
}

.nav-but:hover{ 
                border-radius:8px;
                border: 0.9px solid ;
                border-color:white;
	            background-color:black;
				}


    /*-------------------dropdown strat---------*/
.dropdown {
	            position:relative;				
}
.dropdown-nav{
	          position:absolute;
              top:32;
			  left:0;
			  width:150px;
			  background-color:#fff;
			  box-shadow:1px 1px 6px #ccc;
			  border-radius:10px;
			  transform:translateY(20px);
			  opacity:0;
			  visibility:hidden;
			  transition:all 0.3s ease;
}
.dropdown a> i{
	           position:absolute;
			   top:16px;
			   right:-7;
}
.dropdown:hover .dropdown-nav{
	          transform:translateY(0);
			  opacity:1;
			  visibility:visible;
}
.dropdown-nav li{
	          display:block;
}
.dropdown-nav li a{
	           color:#000;
			   font-size:14px;
			   display:block;
			   text-decoration:none;
			   padding-top:8px;
			   padding-bottom:8px;
			   padding-left:15px;
			   padding-right:15px;
			   text-align:left;
}
/*------------------ dropdown end---------------*/


.dropdown2 {
	            position:relative;				
}
.dropdown-nav-sub {
	          position:absolute;
              top:1;
			  left:150;
			  width:150px;
			  background-color:#fff;
			  box-shadow:1px 1px 6px #ccc;
			  border-radius:10px;
			  transform:translateY(20px);
			  opacity:0;
			  visibility:hidden;
			  transition:all 0.3s ease;
}
.dropdown2 a> i{
	           
			   top:10px;
			   right:1;
}
.dropdown2:hover .dropdown-nav-sub{
	          transform:translateY(0);
			  opacity:1;
			  visibility:visible;
}
.dropdown-nav li{
	          display:block;
}
.dropdown-nav li a{
	           color:#000;
			   font-size:14px;
			   display:block;
			   text-decoration:none;
			   padding-top:8px;
			   padding-bottom:8px;
			   padding-left:15px;
			   padding-right:15px;
			   text-align:left;
}


                                            /*-------------------------- header end ------------------------*/


                                            /*-------------------------- banaeer start ------------------------*/


		  
		  
.banaer	{       background-image:linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)),url("../image/pi.jpg");
                background-size:cover;
                background-repeat:no-repeat;		 
		        background-position:center;
				min-height:600px;
				display:flex;
                align-items:center;
		 } 
		 
.banaer-sec {
	           color:white;  
		       font-size:20px;
               text-align:left;
			   
			 }
.banaer-sec  h1{font-size:50px;
                padding-top:58px;}
.banaer-sec  h4{font-size:24px;
                padding-top:20px;
}				
        	  
.nav-but1 {   text-decoration: none;
              display: inline-block;
              text-align: center;
              padding: 10px 28px;
              background-color:#e03a3c;
              color: #fff;
              border-radius: 7px;
			  border: solid 1px #e03a3c;
              font-size: 17px;
              margin-top: 20px; 
			  transition:0.2s;
			
}
.nav-but1:hover{border: 0.9px solid ;
                border-color:white;
	            background-color: transparent;
				}
                                            /*-------------------------- baneer end ------------------------*/

	
                                            /*-------------------------- clinets start------------------------*/

.clinets {background-color:#fff;
         padding-top:30px;
		 
	
		 padding-bottom:45px;
		 }

.clients-logo {vertical-align:middle;
               
			   }
.clients-logo img {
	     filter:grayscale(100%);
		 opacity:0.5;
		 transition:all 0.3s ease;
}			   
			   
.clients-logo img:hover {
	     filter:grayscale(0%);
		 opacity:3;
}


		
                                      /*-------------------------- clinets end ------------------------*/
											 
								     /*-------------------------- about start------------------------*/

.about {
	  	
         
         padding:80px0;
		 position:relative;
		 z-index:0;
}

.about:after {
         content:"";
         position:absolute;
         left:0;
         top:0;
         width:100%;
         height:100%;
		 background-color:#222;
         z-index:-1;
		 transform:skew(0deg,-2.0deg);

}

.abo    {color:white;
         height:345px;
		 margin-top:40px;
		 padding-top:20px;
}
.abo h1{font-size:36px;}
        	
.abo h4{
	    padding-top:20px;
}
.nav-but2 {   text-decoration: none;
              display: inline-block;
              text-align: center;
              padding: 6px 28px;
              background-color:transparent;
              color: #fff;
              border-radius: 20px;
              font-size: 17px;
              margin-top: 20px; 
			  transition:0.2s;
			  
			  border: 0.9px solid red ;
			  
}
.nav-but2:hover{
                border-color:#e03a3c;
				background-color:#e03a3c;
				color:white;
				
}
.about-box {  background-color:none;
		      margin-top:35px;
	    }

.about-box i {
	             color:#e03a3c;
	             margin-top:10px;
	             font-size:45px;
}
.about-box h2{
	             padding-top:7px;
                 font-size:17px;
		         color:white;
}
.about-box h6{
	             padding-top:8px;
                 font-size:13px;
		         color:gray;
}



                                      /*-------------------------- about start------------------------*/


                                      /*-------------------------- project start------------------------*/


.project {background-color:#fff;
          }


.proj {background-color:white;
       height:130px;
	   margin-top:60px;
	   text-align:center;
	   box-shadow: 0px 2px 25px rgb(0 0 0 / 18%);
       }
	
.proj i{    position: relative;
       left: 0px;
       top: -18px;
       font-size:32px;
       display: inline-block;
       border: 7px solid white;
       border-radius: 25px;
       color: #e03a3c ;
	   background-color:white;
	   box-shadow: 0px 2px 25px rgb(0 0 0 / 18%);
	   
}

                                       /*-------------------------- project end ------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
                                      /*-------------------------- predo start------------------------*/

.predo {
	        background-color:none;
            }




.nastrom-first{
	         background-color:#e03a3c;
            height:100px;
		    display:flex;
		  
		  }
.nastrom-first:active{
             background-color:#e03a3c;	
}

.nastrom-first i{ 
            color:white;
	        padding-left:16px;
	        font-size:40px;
		    margin-top:25px;
}
.nastrom-first h4{color:white;
	        padding-left:20px;
	        font-size:15px;
         	margin-top:18px;
            padding-top: 8px;			
}


.nastrom-2 {
	        display:flex;
			border: 1px solid black ;
			height:100%;
}


.nastrom-2 i{ 
          
	        padding-left:13px;
	        font-size:40px;
		    margin-top:28px;
			transition:all 0.2s ease;
}
.nastrom-2 h4{
	           padding-top: 4px;
	        padding-left:20px;
	        font-size:15px;
         	margin-top:18px;
		   
}
.nastrom-2:hover{
	 border: 1px solid #e03a3c  ;
	       color:#e03a3c;
}
/****-
.ad {
      height:400px;
	  }
	  ------*/
.ad h1{
        font-size:26px;
}	
.ad i{
	  color:red;
}		
	  
.ad ul {padding-top:10px;
      list-style:none;
	  
	  }

.ad li {
        padding-top:15px;}

.ad p  {
	font-size:16px;
	}	
                                            /*-------------------------- predo end  ------------------------*/


                                            /*-------------------------- service start------------------------*/

.service {
	        position: relative;
            z-index:0;
	        padding-top:20px;
	        
			}
.service:after {
         content:"";
         position:absolute;
         left:0;
         top:0;
         width:100%;
         height:100%;
		 background-color:#000;
         z-index:-1;
		 transform:skew(0deg,-2.0deg);

}			
		  
.ser {      
            color:white;
	        text-align:center;
	        background-color:#000;
            
	  
       }
.ser h2 {  
            font-size:32px;
			padding-bottom:12px;
            padding-top:15px;
            text-transform: uppercase;
		    font-weight: bold;
}	
	   
.ser .border{
	        text-transform: uppercase;
	        margin: 0 auto;
	        text-align:center;
	        width:50px;
			height:2px;
			background-color:red;
			 
}
.ser p {  padding-bottom:8px;
           padding-top:15px;
           
}

.serv i {
	      
         font-size:45px;
}	
		   
	        
.serv  {    
            border-radius:5px;
			position:relative;
			background-color:#2b2b2b;
            
			}

.serv i{  
           color:#e03a3c;
		   padding-top:20px;
	       padding-left:10px;
	       position:absolute;
}
.serv h2   { color:white;
            text-decoration: none;
            
	        padding-top:20px;
			padding-left:75px;
}
.serv h2 a{  color:white;
	        text-decoration:none;
}
.serv p  {  
	        color:white;
			padding-top:10px;
			padding-left:75px;
}
.serv h2:hover{
	        text-decoration-line:underline;
			color:white;
}
                                            /*-------------------------- service  end  ------------------------*/                                      /*------------------------------------  
                                            /*-------------------------- portafilo start------------------------*/

.portafilo-section {
	        margin-top:40px;
			background-color:#fff;
          }

.porta {    background-color:white;
            text-align:center;
			margin-bottom:-42px;
}
 .border1{
	       
	        margin: 0 auto;
	        text-align:center;
	        width:50px;
			height:2px;
			background-color:red;
			color:black;			 
}		
.porta h2 { 
            color:black;
            padding-bottom:8px;
            padding-top:15px;
            text-transform: uppercase;
		    font-weight: bold;
}
.porta p {
	        
            color:gray;
            padding-bottom:25px;
            padding-top:9px;
           
}	   
.portafilo-image img{     
            display:black;
            height:auto;
			width:100%;
			transition:all 0.3s ease;
		

	       
}

.portafilo-nav {
	        padding-top: 30px;
	        display: inline-flex;
	        text-align:center;
}

.portafilo-nav a{
	

	        display:inline-block;
			text-decoration:none;
			padding:5px 15px;
			border-radius:5px;
			color:black;
			transition:all .3s ease;
}
.portafilo-nav2 {
	        border:1px;
			padding: 4px 15px 7px 15px;
			background-color:red;
	        border-radius:7px;
			color:white;
}			
	        
.portafilo-nav a:hover{
	
	        background-color:red;
	        color:white;                              
}

.portafilo-image {
	overflow:hidden;
	position:relative;
}
.portafilo-image .portafilo-overflow {
	position:absolute;
	background-color:#483d3d3b;
	width:100%;
	height:100%;
	left:0;
	top:0;
	display:flex;
	align-items:flex-end;
	opacity:0;
	transition:all 0.3s ease;
}
.portafilo-over-img {
	padding-left:25px;
	padding-bottom:30px;
}
.portafilo-over-img h3 {
	padding-bottom:8px;
	color:white;
	text-transform: uppercase;
	font-size:20px;
}	

.portafilo-over-img h4 {
	padding-bottom:8px;
	color:gray;
	font-style:italic;
	text-transform: uppercase;
	font-size:18px;
}
.portafilo-over-img a {
    padding-left:10px;
    text-decoration:none;
    color:gray;
	font-size:15px;
}	
.portafilo-over-img a:hover{
	color:white;
}

.portafilo-image:hover img{
	transform:scale(1.2);
}

.portafilo-image:hover .portafilo-overflow {
	opacity:1;
}

		                                    /*-------------------------- portafilo end------------------------*/
                                            /*-------------------------- testmonils start------------------------*/
		  
.TESTIMONIALS {background-color:white;
              }	  
		  
		  
.test {
	   background-color:white;
       text-align:center;
      
}	  
		  
 .border2{
	       
	        margin: 0 auto;
	        text-align:center;
	        width:50px;
			height:2px;
			background-color:red;
			color:black;			 
}

.test h2 { 
            color:black;
            padding-bottom:8px;
            padding-top:15px;
            text-transform: uppercase;
		    font-weight: bold;
}
.test p {
	        font-size:18px;
	        color:gray;
            padding-bottom:25px;
            padding-top:5px;
           
}

.testimon {
	padding-right:10px;
	padding-top:25px;
	padding-left:10px;
	padding-bottom:10px;
    height:300px;
    position:relative;
	border-radius:10px;
	box-shadow: 4px 5px 15px 3px #a2a6a7 ;
		   }
		   
.testimon img{
	border-radius:5px;
	position:absolute;
}	
.testimon h3{
    padding-left:110px;
	padding-top:18px;
}
.testimon h4{
    padding-left:110px;
	padding-top:5px;
	color:gray;
}		   
.testimon p{
    font-style:italic;
	padding-top:46px;
    font-size:16px;
}
.testimon i{
	color:#fceaea;
	font-size:21px;
}

.testimon  i:first-child{
	display:inline-block;
	transform:translateY(-5px);
	
}
.testimon  i:last-child{
	display:inline-block;
	transform:translateY(5px);
	padding-left:5px;
	
}






		   
                                            /*-------------------------- teat end ------------------------*/

                                            /*-------------------------- priceing start------------------------*/

		  
.pricing {
	background-color:black;
    }	  
.pricing-section {
  z-index:0;
  position:relative;
 
}  
.pricing-section:after{
         content:"";
         position:absolute;
         left:0;
         top:0;
         width:100%;
         height:100%;
		 background-color:#000;
         z-index:-1;
		 transform:skew(0deg,-2.0deg);

}
	
.price  {
	margin-top:15px;
	text-align:center;
    height:120px;
	}
 .border3{
	       
	        margin: 0 auto;
	        text-align:center;
	        width:50px;
			height:2px;
			background-color:red;
			color:black;			 
 }
.price h2 { 
            color:white;
            padding-bottom:8px;
            padding-top:15px;
            text-transform: uppercase;
		    font-size:30px;
}
.price p {
	        font-size:18px;
	        color:gray;
            padding-bottom:25px;
            padding-top:9px;      
}

.amount {
	text-align:center;
	background-color:#2b2b2b;
    height:500px;
	font-size:30px;
		   }
.amount h2 {
	color:#fff;
	padding-top:30px;
	text-align:center;
	font-size:25px;
}
.amount h3 {
	color:white;
	font-size:45px;
	padding-top:20px;
}
.amount h3 sup {

	padding-top:20px;
	text-align:center;
	font-size:20px;
}
.amount h3 span {

	text-align:center;
	font-size:20px;
}

.amount h4{
	color:white;
	padding-top:20px;
	font-size:16px;
}
.amount h5{
	color:white;
	padding-top:20px;
	font-size:15px;
}
.amount p {
	padding-top:20px;
	font-size:15px;
	color:gray;
	text-decoration: line-through;
	}
.nav-but3 {   text-decoration: none;
              display: inline-block;
              text-align: center;
              padding: 6px 28px;
              background-color:transparent;
              color: #fff;
              border-radius: 5px;
              font-size: 15px;
              margin-top: 30px; 
			  transition:0.2s;
			  
			  border: 0.9px solid gray ;			  
}
.nav-but3:hover{
	border: 0.9px solid white;
}


.amount-color .amount {
	background-color:#e03a3c;
}



                                            /*-------------------------- priceing end------------------------*/


                                            /*-------------------------- QUESTIONS start------------------------*/

.qustion-section {
            
			margin-top:25px;
	       }


		  
.qustion  {
	
    text-align:center;
    
 	}
 .border4{
	       
	        margin: 0 auto;
	        text-align:center;
	        width:50px;
			height:2px;
			background-color:red;
			color:black;			 
 }
.qustion h2 { 
            
            color:black;
            padding-bottom:8px;
            padding-top:15px;
            text-transform: uppercase;
		    font-size:30px;
}	


.qustion-layout {
    
	border-bottom:1px solid #eee;
	}
.qustion-layout h4 a {
    text-decoration:none;
	color:black;
}	

.qustion-layout h4 i {
	display:inline-block;
    position:absolute;
	right:137px;
	
}
.qustion-layout:hover h4 a {
	color:red;
}
.qustion-layout:hover i  {
	color:red;
}



                                            /*-------------------------- QUESTIONS end ------------------------*/
		  
	                                            /*-------------------------- team group start------------------------*/


		  	  
		  
.team-box {
  z-index:0;
  position:relative;
  
}  
.team-box:after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#000;
    z-index:-1;
    transform:skew(0deg,-2.0deg);

}		  
		  
.team  {
	
    text-align:center;
    }
	   
 .border4{
	       
    margin: 0 auto;
	text-align:center;
    width:50px;
    height:2px;
    background-color:red;
	color:black;			 
 }
.team h2 { 
    color:#fff;
	padding-bottom:8px;
  	text-transform: uppercase;
    font-size:30px;
}
.team p {
    font-size:18px;
	color:gray;
    padding-bottom:25px;
    padding-top:9px;      
}


.team-img {
	border-radius:10px;
	background-color:white;
    position:relative;
    height:320px;
		   }
.team-img img{
    width:100%;
    height:235px;

	
}	
		  
	
.team-link {
    position:absolute;
	padding-left:18px;
	bottom:85px;

	
}	
	
.team-link a i{
    line-height:35px;
    display:inline-block;
    border-radius:50%;
    background-color:#e03a3c;
    width:35px;
    height:35px;
    margin:0 3px;
	text-align:center;
	font-size:14px;
	color:#fff;
	text-decoration:none;
    transform:translateY(-20px);
	opacity:0;
	transition:all 0.3s ease;
	
	
}	
.team-img:hover .team-link a i{
    opacity:1;
    transform:translateY:(0);	
}
	
.team-name h3{
    padding-left:8px;
    padding-top:15px;
}	
.team-name h5{
    padding-left:8px;
    padding-top:10px;
	color:gray;
}	
.team-link a i:hover{
    background-color:black;
    color:%fff;
}	
	
	
	
	                         /*-------------------------- team group end------------------------*/
		  
		  
		  		              /*-------------------------- contact-section start------------------------*/
.contact-section {
	margin-top:30px;
}
	
	
	
	.contact-header {
	text-align:center;
    
	}
 .border5{
	       
    margin: 0 auto;
	text-align:center;
    width:50px;
    height:2px;
    background-color:red;
			 
 }
.contact-header h2 { 
    color:black;
	padding-bottom:8px;
  	text-transform: uppercase;
    font-size:30px;
}
.contact-header  {
    font-size:18px;
	color:gray;
    padding-bottom:25px;
    padding-top:9px;      
}	
.contact-address {
	border-radius: 4px;
	margin-top:-12px;
	padding-top:40px;
    box-shadow: 0px 3px 20px -5px #a2a6a7;
    height:170px;
	text-align:center;
}
.contact-address h2{
	padding-top:15px;
	color:#444444;
}
.contact-address i {
	border-radius:50%;
	font-size:32px;
	padding:8px 8px 8px 8px;
	background-color:white;
	border:2px dotted #f8d4d5 ;
	color:#e03a3c;
}
.contact-address h4 {
	font-size: 14px;	
}
/*--------------------*/
.contact-email {
	text-align:center;
	height:160px;
}
.contact-email i {
	border-radius:50%;
	font-size:32px;
	padding:8px 8px 8px 8px;
	background-color:white;
	border:2px dotted #f8d4d5 ;
	color:#e03a3c;
}	
.contact-email {
	border-radius:5px;
	margin-top:-12px;
	padding-top:26px;
    box-shadow: 0px 3px 20px -5px #a2a6a7;
    height:170px;
	text-align:center;
}
.contact-email h2{
	font-size:15px;
	padding-top:15px;
	color:#444444;
	font-weight:200px;
}
.contact-email h4 {
	padding-top:5px;
	font-size: 14px;	

}
.contact-message {
    box-shadow: 0px 3px 20px -5px #a2a6a7;
	height:360px;
}
.contact-message-1 {
	height:30px;
	border-radius:5px;	
}
.contact-message-1 input {
	width:100%;
	height:30px;
	display:inline-block;
	padding-left:10px;
}
.contact-message-2{
	height:30px;
	border-radius:5px;	
}
.contact-message-2 input {
	width:100%;
	height:30px;
	display:inline-block;
	padding-left:10px;
	
}
.contact-message-3{
	height:30px;
	border-radius:5px;	
}
.contact-message-3 textarea {
	width:100%;
	height:104px;
	padding-left:10px;	
}

.button6  {   text-decoration: none;
              display: inline-block;
              text-align: center;
              padding: 8px 20px;
              background-color:#e03a3c;
              color: #fff;
              border-radius: 7px;
              font-size: 17px;
              margin-top:85px; 
			  margin-left:150px;
			
}

	 /*---------------------------------------------  Presento start  ---------------------------------------*/
	 
	 
.Presento-section {
	background-color:#1b1b1b;
    
	}	 
 .border6{
	       
    margin-top:5px;
	margin-bottom:5px;
    width:25px;
    height:2px;
    background-color:#e03a3c;
			 
 }	 
	 
	 
	 
.persento {
	
    color:#fff;
}	
.persento span {
    color:#e03a3c;
}	
.persento p {
	font-size:15px;
	padding-top:8px;
}
.space {
	font-size:13px;
	padding-top:18px;
}
/*------------------------*/
.presento-2 {
	
	width:180px;
}


.presento-2 a{
	text-decoration:none;
	color:gray;
}
.presento-2 p{
	padding-top:15px;
}
.presento-2 p i {
	color:#fff;
}
.presento-2 a:hover{
	color:#fff;
}
.presento-3 {
    margin-left:105px;
}	
.presento-button{
	margin-top:20px;
	position:relative;
	color:#fff;
	border-radius:5px;
	overflow:hidden;
	padding-right:100px;
}
.presento-button input{
    border:none;
    padding:10px 20px;
	width:100%;
	border-radius:5px;
   
}



                      /*----------------------------------------------- PRESENTO  END -----------------------------------------------*/

                      /*----------------------------------------------- FOOTER SECTION START -----------------------------------------*/



	
	 
.footer{	
          
	background-color:black;
   } 
	 
	 
	 
.foot {	 

    margin-top:20px;
	width:500px;
		   }
.foot-sec {
	font-size:13px;
    color:white;
}	 


.foot-sec  a{
    text-decoration:none;
	color:#e03a3c;
}

.footer-link a{
	line-height:5px;
	padding:5px 5px;
	font-size:26px;
	text-decoration:none;
	color:white;
	background-color:#1b1b1b;
	text-align:center;
	display:inline-block;
	margin-left:7px;
}

.footer-link {
    
	margin-left:210px;
}

.footer-link a:hover{
	background-color:#e03a3c;
}
.footer-link2 {
	position:fixed;
	bottom:25px;
	right:15;
	z-index:-1px;
}
.footer-link2 a{
	text-decoration:none;
	color:white;
	padding:5px 5px;
	background-color:#e03a3c;
	line-height:5px;
	font-size:20px;
}

.footer-link2 a:hover {
	background-color:#e35c5e;
}