* {padding:0;
   margin:0px;
   box-sizing:border-box;}

.container{width:1170px;
           padding-right: 15px;
		   padding-left:15px;
           margin:0 auto;}
		   
		   
.row      {display:flex;
           flex-wrap:wrap;
		    padding-right: 15px;
		   padding-left:15px;
}
	 
	 
.col-lg-1 {width:8.33%;
           padding: 15px;
          }
		  
			 
.col-lg-2 {width:16.66%;
           padding: 15px;
          }	  
		   
		   	 
.col-lg-3 {width:25%;
           padding: 15px;
          }	 
		  
		  	 
.col-lg-4 {width:33.33%;
           padding: 15px;
          }	
		  
		  	 
.col-lg-5 {width:41.66%;
padding: 15px;}
        
		  
		  
		  	 
.col-lg-6 {width:50%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-lg-7 {width:58.33%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-lg-8 {width:66.66%;
           padding: 15px;
          }	
		  
		  	 
.col-lg-9 {width:75%;
           padding: 15px;
          }	
		  
		  
		  	 
.col-lg-10 {width:83.33%;
           padding: 15px;
          }	
		  
		  	 
.col-lg-11 {width:91.66%;
           padding: 15px;
          }	
		  
		 	 
.col-lg-12 {width:100%;
           padding:15px;
          }	 
		  
	/*--------------------- align iteam------*/
		  
.align-items-center {
                align-items:center important; 				
}		  
.align-items-start {
                align-items:start important; 				
}		  		  
.align-items-end {
                align-items:end important;				
}		  		  
.align-items-baseline {
                align-items:baseline important;			
 }
 .align-items-stretch {
                align-items:stretch important;
 				
}		  
                                            /*-------------------------- header start------------------------*/
		  
		  
                                          
		  
  
		    
.header  {background-color:#fff;}		  

		  
.header-content	a{	
                text-decoration:none;
                color:#000;
                font-size:30px;
                display:inline-block;
                font-weight:700;				
}	

.header-content a span{
	            color:red;
                      }	
					  
.nav .nav-bar {
                text-align:right;
}		
			  
.nav .nav-bar >li{
                display:inline-block;
}		
		 
	
.nav .nav-bar> li a.nav-list{ 
	            display:block;
                text-decoration:none;
                color:#000;
                padding-left:10px;
                padding-right:10px;
				transition:all 0.3s ease;
}
	
.nav-bar >li a.nav-list:hover{color:red;
}	
.nav2        { text-decoration:none;
	            color:red;
}                        

.nav-but {
	            text-decoration:none;
                display:block;
		        text-align:center;
				padding:8px 18px;
				background-color:red;
				color:#fff;
				border-radius:10px;
				font-size:16px;				
}
/*-------------------dropdown strat---------*/
.dropdown {
	            position:relative;				
}
.dropdown-nav{
	          position:absolute;
              top:25;
			  left:0;
			  width:150px;
			  background-color:#fff;
			  box-shadow:1px 1px 6px #ccc;
			  border-radius:10px;
			  transform:translateY(20px);
			  opacity:0;
			  visibility:hidden;
			  transition:all 0.3s ease;
}
.dropdown a> i{
	           position:absolute;
			   top:3px;
			   right:-6;
}
.dropdown:hover .dropdown-nav{
	          transform:translateY(0);
			  opacity:1;
			  visibility:visible;
}
.dropdown-nav li{
	          display:block;
}
.dropdown-nav li a{
	           color:#000;
			   font-size:14px;
			   display:block;
			   text-decoration:none;
			   padding-top:8px;
			   padding-bottom:8px;
			   padding-left:15px;
			   padding-right:15px;
			   text-align:left;
}
/*------------------ dropdown end---------------*/


.dropdown2 {
	            position:relative;				
}
.dropdown-nav-sub {
	          position:absolute;
              top:1;
			  left:150;
			  width:150px;
			  background-color:#fff;
			  box-shadow:1px 1px 6px #ccc;
			  border-radius:10px;
			  transform:translateY(20px);
			  opacity:0;
			  visibility:hidden;
			  transition:all 0.3s ease;
}
.dropdown2 a> i{
	           position:absolute;
			   top:10px;
			   right:1;
}
.dropdown2:hover .dropdown-nav-sub{
	          transform:translateY(0);
			  opacity:1;
			  visibility:visible;
}
.dropdown-nav li{
	          display:block;
}
.dropdown-nav li a{
	           color:#000;
			   font-size:14px;
			   display:block;
			   text-decoration:none;
			   padding-top:8px;
			   padding-bottom:8px;
			   padding-left:15px;
			   padding-right:15px;
			   text-align:left;
}


                                            /*-------------------------- header end ------------------------*/


                                            /*-------------------------- banaeer start ------------------------*/


		  
		  
.banaer	{background-color:gray;
         height:300px;
		 } 
		 
.banaer-sec {	  
		     background-color:red;
             height:250px;
			 width:400px;
			 }
              	  


                                            /*-------------------------- baneer end ------------------------*/

	
                                            /*-------------------------- clinets start------------------------*/

.clinets {background-color:#d6e1d6;
         padding-top:5px;
		 padding-bottom:5px;}

.clients-logo {background-color:red;
               height:40px;}


.about {background-color:gray;
         height:350px;}


.abo {background-color:red;
           height:300;
		  padding-top:20px;
		   }
		  
.abt {background-color:red;
      height:123px;}

                                            /*-------------------------- clinets end ------------------------*/


                                            /*-------------------------- project start------------------------*/


.project {background-color:#d6e1d6;
          height:100px;}


.proj {background-color:red;
       height:50px;
	   padding-top:25px;
       padding-bottom:25px;}
	
                                            /*-------------------------- project end ------------------------*/
	

                                            /*-------------------------- predo start------------------------*/

.predo {background-color:gray;
        height:500px;}




.nastrom {background-color:red;
          height:100px;
	 }




.ad {background-color:red;
      height:300px;}

                                            /*-------------------------- predo end  ------------------------*/


                                            /*-------------------------- service start------------------------*/

.service {background-color:#d6e1d6;
          height:500px;}
		  
.ser {background-color:red;
      height:50px;
	  width:200px;
       margin-left:450px;}


.serv {background-color:red;
       height:100px;}



                                            /*-------------------------- service  end  ------------------------*/
                                            
                                            /*-------------------------- priceing start------------------------*/

.portafilo {background-color:gray;
            height:950px;}


.port {background-color:red;
       height:75px;
	   width:200px;
            margin-left:450px;
	  }


.porta {background-color:red;
      height:75px;}


.por {background-color:red;
      height:200px;}
	
		  
                                            /*-------------------------- priceing start------------------------*/
		  
		  
                                            /*-------------------------- priceing start------------------------*/
		  
.TESTIMONIALS {background-color:#d6e1d6	;
               height:520px;}	  
		  
		  
.test {background-color:red;
       height:50px;
	   width:200px;
            margin-left:450px;}	  
		  
.testi  {background-color:red;
       height:50px;}



.testimon {background-color:red;
           height:300px;}
		   
		   
                                            /*-------------------------- priceing start------------------------*/

                                            /*-------------------------- priceing start------------------------*/

		  
.priceing {background-color:gray;
               height:800px;}	  
		  
		  
.price {background-color:red;
       height:50px;
	   	width:200px;
        margin-left:450px;}	  
		  
.pri  {background-color:red;
       height:100px;}



.amount {background-color:red;
           height:500px;}


                                            /*-------------------------- priceing end------------------------*/


                                            /*-------------------------- QUESTIONS start------------------------*/

.QUESTIONS {background-color:#d6e1d6;
            height:500px;
	       }


		  
.qust  {background-color:red;
            height:70px;
			width:400px;
            margin-left:350px;	}



.qus {background-color:red;
           height:300px;}

                                            /*-------------------------- QUESTIONS end ------------------------*/
		  
	                                            /*-------------------------- team group start------------------------*/


		  
.teamgroup {background-color:gray;
               height:520px;}	  
		  
		  
.teams {background-color:red;
       height:50px;
	   width:200px;
	   margin-left:450px; }	  
		  
.team  {background-color:red;
       height:50px;}



.te {background-color:red;
           height:300px;}	
		  
		                                              /*-------------------------- team group end------------------------*/
		  
		  
		  		                                          /*-------------------------- team group end------------------------*/
		  
		  
		  
.contact {background-color:#d6e1d6;
            height:500px;}		  
		  
		  
.cont {background-color:red;
              height:200px;}	
	   
		  
.co {background-color:red;
             height:300px;}		  
		  
		  
.c {background-color:red;
     height:200px;}		  
	 
	 
	 
	 /*---------------------------------------------  Presento start  ---------------------------------------*/
	 
	 
.Presento {background-color:gray;
           height:500px;}	 
	 
	 
	 
.person {background-color:red;
           height:450px;}	 
	 
	 
	 
	 
	 
	 
	 
.footer{	background-color:#d6e1d6;
           height:200px;} 
	 
	 
	 
.foot {	 background-color:red;
           height:100px;
		   width:300px
		   }
	 
	 